.todo{
    margin: auto;
    margin-top: 40px;
    width: 500px;
    height: 600px;
    border-radius: 10px;
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-color: rgb(236, 229, 229);
    
}

.inputbox{
    width: 500px;
    height: 60px;
    justify-content: space-evenly;
    display: flex;
    box-sizing: border-box;
    margin: auto;
    

}
.inputbox>input{
    width: 400px;
    height: 100%;
    box-sizing: border-box;
    border:none;
    border-radius: 10px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    padding: 20px;
    font-size: 25px;
}
.inputbox>button{
    margin: auto;
    font-size: 30px;
    text-align: center;
    height: 100%;
    border-radius: 10px;
    padding:5px 20px 5px 20px;
    box-sizing: border-box;
    border:none;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

}